---
layout: page
title: House Energy Consumption
bigimg: /img/path.jpg
--- 

<div class="main-explain-area jumbotron">
  <p><strong>This project is to analyze data from 2016 house energy consumption in order to research how it impact on our life.</strong></p>
  <p>How much is house energy consumption per day and month?</p>
  <p>What is the relationship between house energy consumption and solar power generation?</p>
  <p>What used the most energy and lowest energy?</p>
</div>
  {% include Solar and Energy Consumption.png %}
  From the above plot, the balance between overall house energy consumption and solar power generation was 9:00 and 13:30 on October 7, 2016.


  {% include DM_Project3_11_Rui_Miao.html %}
  From the above plot: furnace 1 and 2 had the highest energy consumption, which was 49.993 KW and 68.9244 KW; Microwave had the lowest energy consumption, which is 5.53444 KW.
